<fieldset class="module aligned {{ fieldset.classes }}">
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    {% for line in fieldset %}
        <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
            {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
            {% for field in line %}
                <div{% if not line.fields|length_is:'1' %} class="field-box{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}"{% endif %}>
                    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                    {% if field.is_checkbox %}
                        {{ field.field }}{{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
                        {% if field.is_readonly %}
                            <p>{{ field.contents }}</p>
                        {% else %}
                            {{ field.field }}
                        {% endif %}
                    {% endif %}
                    {% if field.field.help_text %}
                        <p class="help">{{ field.field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    
    {% if original %}
    <div class="form-row">
        <label>Run Fab Commands</label>
        
        <form id='tailor-fab'>
            <div class='tailor-fab-container'>
                $ fab 
                <select class='tailor-fab-select'>
                    <option>---</option>
                    {% for task in original.get_tasks %}
                    <option value="{{ task.name }}">{{ task.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" value="Execute" id="execute">
        </form>
    
        <div id='tailor-available'>
            <p><strong>Available Tasks</strong></p>
            <ul>
                {% for task in original.get_tasks %}
                <li>
                    <strong>{{ task.name }}</strong><br/>
                    {{ task.docstring }}
                </li>
            <br/>
            {% endfor %}
            </ul>
        </div>
        
        <div id="tailor-terminal">
            <p>Output</p>
        </div>
    
    {% endif %}
    
    </div>
    
</fieldset>
